.header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // top: -20px;
    .container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1170px;
        .logo-wrap {
            .logo-img-box {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .logo_2 {
                    margin-left: 20px;
                    margin-top: 2px;
                }
            }
            h1 {
                display: none;
            }
        }
        .nav-menu {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: flex-end;
                margin-top: 23px;
                li {
                    padding: 0 5px;
                    margin-left: 29px;
                    text-align: right;
                    a {
                        text-decoration-style: dashed;
                        color: #3b3944;
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 26px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}