section(class="section-1")
    div(class='container')
        div(class='description')
            p(class='heading-title-1') Укрепите здоровье ваших суставов
            p(class='heading-title-2') и верните им эластичность при остеоартрите
            ul
                li
                    div(class='point')
                    p Помогает снять боль
                li
                    div(class='point')
                    p Устраняет скованность суставов
                li
                    div(class='point')
                    p Уменьшает отеки                                       
        form(class='order-form' id='order' action='')
            h4
                |Закажите
                br
                |сейчас по акции
            div(class='price-box')
                div(class='price-item-old')
                    p(class='title') Старая цена
                    div(class='price-value')
                        p(class='value') 1980
                        p(class='currency') руб.
                div(class='price-item-new')
                    p(class='title') Ваша цена
                    div(class='price-value')   
                        p(class='value') 990
                        p(class='currency') руб. 
            h5 Осталось до конца акции
            div(class='date')
                div(class='item item_1')
                    div 14
                    p Дни  
                div(class='item item_2')
                    div 23
                    p Часы   
                div(class='item item_3')
                    div 45
                    p Мин  
            button(class="order-form-btn" type="submit" form="order")
                span(class='strong') Заказать
                |
                br
                |
                span(class='normal') со скидкой                                                                  