section(class="section-2")
    div(class='container')
        h2 Симптомы остеоартрита 
            span не пройдут 
            |
            br
            |сами по себе
        div(class='symptoms')
            div(class='symptoms-item')
                div(class='img-box')
                    img(src='../../img/2_section/symptoms/lightning.png' alt='Боль')
                div(class='description')
                    h3 Боль
                    p Токсины, кристаллы солей и другие продукты воспалительных процессов раздражают нервные окончания суставной капсулы.
            div(class='symptoms-item')
                div(class='img-box')
                    img(src='../../img/2_section/symptoms/lock.png' alt='Скованность')
                div(class='description')
                    h3 Скованность
                    p Из-за воспаления синовиальной оболочки сустава, вырабатывается мало синовиальной жидкости, которая выступает смазкой для элементов сустава.
            div(class='symptoms-item')
                div(class='img-box')
                    img(src='../../img/2_section/symptoms/foot.png' alt='Отек')
                div(class='description')
                    h3 Отек
                    p Из-за воспаления и деформации суставной сумки синовиальная жидкость выходит за ее пределы.   
        div(class='note')    
            div(class='img-box')
                img(src='../../img/2_section/mark.png' alt='Примечание')
            p(class='description') Запущенный остеоартрит
                |
                br
                |входит в десятку самых частых 
                br
                |причин инвалидности