section(class="section-3")
    div(class='container')
        h2 Крем 
            span Pantoflex
        p поможет избавиться от боли,
            |
            br
            |снять отеки и вернет суставам подвижность
        form(class='order-form-2' id='order2' action='')
            button(class="order-form-btn" type="submit" form="order2")
                span(class='strong') Заказать
                |
                br
                |
                span(class='normal') со скидкой         