section(class="section-4")
    div(class='container')
        div(class='part-1')
            h3 Состав 
                span Pantoflex 
                |
                br
                |помогает избавиться
                br
                |от всех симптомов
                br
                |остеоартрита
        div(class='part-2')    