section(class="section-4")
    div(class='container')
        div(class='part-1')
            h3 Состав 
                span Pantoflex 
                |
                br
                |помогает избавиться
                br
                |от всех симптомов
                br
                |остеоартрита
            div(class='img-box')
                img(src='./img/4_section/main_bg.png' alt='Состав')            
        div(class='part-2')
            div(class='row')
                div(class='card')
                    h4 Облепиха
                    div(class='img-box')
                        img(src='./img/4_section/sea_buckthorn.png' alt='Облепиха')
                    p Противостоит воспалению суставов, снимает боль, способствует продлению работоспособности суставов.
                div(class='card')
                    h4 Календула
                    div(class='img-box')
                        img(src='./img/4_section/flower.png' alt='Календула')
                    p Стимулирует восстановление тканей, ускоряет процесс восстановления сустава.       
            div(class='row')
                div(class='card')
                    h4 Каштан
                    div(class='img-box')
                        img(src='./img/4_section/chestnut.png' alt='Каштан')
                    p Снимает отеки, обладает антиоксидантными свойствами, улучшает микроциркуляцию крови в суставах.
                div(class='card')
                    h4 Cульфаты
                    div(class='img-box')
                        img(src='./img/4_section/formula.png' alt='Cульфаты')
                    p Укрепляет хрящевые ткани сустава, обеспечивает гладкое скольжение элементов сустава, способствует восстановлению хряща.                       