header(class="header")
    div(class="container")
        div(class="logo-wrap")
            div(class="logo-img-box")
                div(class='logo_1')
                    img(src="./img/header/1.png" alt="LogoImg_1")
                div(class='logo_2')
                    img(src="./img/header/logo.png" alt="LogoImg_2")
            h1 Pantoflex
        nav(class="nav-menu")
            ul
                li
                    a(href='#') Отзывы
                li 
                    a(href='#') Состав
                li 
                    a(href='#') Оплата и доставка