doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, initial-scale=1.0")
        title Pantoflex
        link(rel="stylesheet"
            href="./css/reset.css")
        link(rel="stylesheet"
            href="./css/style.css")
    body    
        include _header.pug
        include _1_section.pug
        include _2_section.pug
        include _3_section.pug
        include _4_section.pug